body {
  background: url(../images/footer.jpg) no-repeat center bottom;
  background-color: #747d82;
  margin: 0px;
  font-family: Verdana;
}
.wrapper {
  background: url(../images/foon.jpg) center 0px no-repeat;
  width: 100%;
}
.head {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
}
.head__logo {
  background: url(../images/logo.png) no-repeat;
  width: 573px;
  height: 175px;
  position: relative;
  top: 40px;
}
.main {
  width: 1000px;
  min-height: 1350px;
  background-color: #fff;
  position: relative;
  background: url(../images/cnt.jpg) repeat-y;
  margin: 0 auto;
}
.post {
  display: block;
  width: 615px;
  margin: 5px 0 0 50px;
  min-height: 1300px;
  float: left;
  background-color: #fff;
}
.post__content {
  font-size: 12px;
}
.post__date {
  display: block;
  font-size: 14px;
  font-style: italic;
  float: left;
  border-right: 1px solid;
  text-align: left;
  margin: 0 15px 10px 0;
  padding: 15px 15px 0 0;
  height: 64px;
}
.post__title {
  margin: 0 15px 0 0;
  padding: 15px 15px 0 0;
  font-size: 26px;
}
.post__img {
  display: block;
}
.post__content {
  display: block;
  text-align: justify;
}
.aside {
  display: block;
  width: 267px;
  float: right;
}
.aside__title {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 15px 0;
}
.aside__twitt {
  height: 111px;
  width: 249px;
}
.aside__gameperson {
  margin: 20px 0 15px 0;
  width: 260px;
  height: auto;
}
.aside__list {
  padding: 0 15px 0 0;
  list-style: decimal;
  text-align: left;
}
.aside__news {
  background-position: 0 -620px;
  margin: 5px 0 5px 20px;
  height: 27px;
  text-decoration: none;
  line-height: 14px;
  width: 224px;
  font-size: 12px;
}
.foother {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
}
.foother__copyright {
  position: absolute;
  color: #fff;
  margin: 100px 0 0 100px;
  font-size: 12px;
}
